---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const episodes = (await getCollection("episodes"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1
        class="mb-3 text-4xl text-black underline decoration-4 dark:text-white"
      >
        Welcome to the City Archive
      </h1>
      <div class="space-y-16">
        <section>
          <article class="text-black">
            <p class="!mb-8 text-xl">
              The City doesn't like to be seen. It hides behind fog, brick, and
              the hum of neon lights, pretending it's ordinary. But every so
              often, the Mist thins. And when it does… stories slip through.
            </p>

            <p class="animate">
              This is where I keep them. Case files, eyewitness reports,
              whispered rumors, accounts of those who've glimpsed what lies
              beneath the ordinary. You'll find <b>episode reports</b> from the ongoing
              series, and <b>gazetteer entries</b> about the places and people who
              refuse to stay hidden.
            </p>
            <p class="animate">
              Don't worry, I know you're one of the awakened, but do tread
              carefully. The Mist has a way of noticing those who look too
              closely.
            </p>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="text-2xl font-semibold text-black dark:text-white">
              Latest episodes
            </h2>
            <Link href="/episodes"> See all episodes </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              episodes.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="text-2xl font-semibold text-black dark:text-white">
            Credits
          </h2>
          <article>
            <p>
              This blog and its contents are created by 4rtamis. <br />
              The design is heavily inspired by the graphic design from Manuel Serra
              Sáez for the rulebooks of <a
                href="https://sonofoak.com/pages/city-of-mist">City of Mist</a
              > by Amit Moshe.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
