---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"episodes">;
};

const { entry } = Astro.props as {
  entry: CollectionEntry<"episodes">;
};
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class="not-prose group relative flex flex-nowrap rounded-lg bg-[#e0d9c1] p-1.5 shadow-black/20 transition-shadow duration-300 ease-in-out hover:shadow-md focus-visible:shadow-md"
>
  <div class="w-full rounded-lg border-2 border-[#514A48]">
    <div class="flex flex-1 flex-col truncate">
      <div
        class="font-heading bg-[#514A48] px-2 text-xl font-semibold text-[#e0d9c1] uppercase"
      >
        S{entry.data.season}E{entry.data.episode} - {entry.data.title}
      </div>
      <div class="flex justify-stretch px-2 py-2 text-sm">
        <p class="flex-1 font-sans break-words whitespace-normal text-black">
          {entry.data.description}
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="size-5 fill-none stroke-current stroke-2"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
          ></line>
          <polyline
            points="12 5 19 12 12 19"
            class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
          ></polyline>
        </svg>
      </div>
    </div>
  </div>
</a>
